*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: #07393C;
    font-family: "DM Sans", sans-serif;
    width: 100%;
    height: 140vh;
}

.firstnav{
    padding: 10px;
    color: #FFFFE0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #3B6365;
}

.firstnav ul li{
    display: inline;
    align-items: center;
    padding-right: 20px;
    font-size: 20px;
}

.firstnav ul li a{
    color: white;
    text-decoration: none;
}

.firstnav ul li a:hover{
    color: #B1C459;
}

.firstnav ul li a button{
    padding: 10px;
    background-color: #C0D05C;
    color: black;
    border-radius: 5px;
}

.firstnav ul li a button:hover{
    cursor: pointer;
    background-color: #EBF5F2;
}


/* Second Navigation bar */
.secondnav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10%;
    /* border: 1px solid red; */
    margin-top: 5%;
    
}

.secondnav ul li{
    display: inline-block;
    padding-right: 30px;
    font-size: 20px;
}

.secondnav ul li a{
    text-decoration: none;
    color: #FFFFE0;
    font-size: 20px;
}

.secondnav ul li a:hover{
    color: #B1C459;
}

.secondnav ul li{
    color: #FFFFE0;
}

.secondnav ul li:hover{
    cursor: pointer;
}


/* Image and title */
.firstcontent{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5%;
    font-family: "DM Sans";
}

.heading{
    /* border: 1px solid red; */
    flex-basis: 50%;
    padding: 20px;
    color: #FFFFE0;
}

.heading h1{
    font-size: 50px;
}

.headimage img{
    height: 400px;
    border-radius: 50%;
    flex-basis: 50%;
}

.heading a button{
    padding: 10px;
    font-size: 20px;
    font-family: "DM Sans";
    padding-left: 10px;
    background-color: #C0D05C;
    color: #07393C;
    border: none;
    transition: all 0.5s ease-in;
}

.heading a button:hover{
    cursor: pointer;
    background-color: #EBF5F2;
}
