*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body-items{
  margin-left: 6%;
  margin-right: 6%;
  margin-top: 10%;
}

.body-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "DM Sans", sans-serif;
  color: #07393C;
}

.body-title button{
    width: 40%;
    padding: 10px;
    background: transparent;
    border: 1px solid #07393C;
    transition: all 0.5s ease-in-out;
}

.body-title button:hover{
  cursor: pointer;
  background-color: #C0D05C;
  border: none;
}


/* Cards */
.first-two, .second-two{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10%;
  font-family: "DM Sans", sans-serif;
}





/* Blue pannel */
.blue{
  width: 100%;
  margin-top: 8%;
  /* height: 60vh; */
  background-color: #EBF5F2;
  display: flex; 
  justify-content: space-around; 
  align-items: center;
  /* text-align: justify; */
}


.blue .status{
  margin-top: 5%;
  margin-bottom: 5%;
  /* border: 1px solid black; */
  /* padding: 50px; */
  padding-left: 100px;
  padding-right: 100px;


}

.emp{
  border-left: 2px solid #07393C;
  height: 200px;width: 100px;
  margin-left: 100px;
}

.blue .status h1,p{
  margin-top: 10px;
  font-family: "DM Sans", sans-serif;
}

.status button{
  padding: 10px;
  margin-top: 20px;
  background-color: #C0D05C;
  border: none;
  transition: all 0.5s ease-in-out;
  font-family: "DM Sans", sans-serif;
}

.status button:hover{
  cursor: pointer;
  background-color: #07393C;
  color: #E0CDA9;
}


/* Numbers Count */
.numbers{
  margin: 5.6%;
}

.count{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.count .item1{
    height: auto;
    margin-bottom: 30px;
    border-left: 1px solid #07393C;
    flex-basis: 33%;
    text-align: start;
    padding-left: 20px;
}

.count .item1 h1{
  color: #872667;
}

.item h3{
  color: #07393C;
  
}