@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 2;
  font-family: "DM Sans", sans-serif;
}

.body-items{
  margin-left: 6%;
  margin-right: 6%;
  margin-top: 10%;
}

.body-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "DM Sans", sans-serif;
  color: #07393C;
}

.body-title button{
    width: 40%;
    padding: 10px;
    background: transparent;
    border: 1px solid #07393C;
    transition: all 0.5s ease-in-out;
}

.body-title button:hover{
  cursor: pointer;
  background-color: #C0D05C;
  border: none;
}


/* Cards */
.first-two, .second-two{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10%;
  font-family: "DM Sans", sans-serif;
}





/* Blue pannel */
.blue{
  width: 100%;
  margin-top: 8%;
  /* height: 60vh; */
  background-color: #EBF5F2;
  display: flex; 
  justify-content: space-around; 
  align-items: center;
  /* text-align: justify; */
}


.blue .status{
  margin-top: 5%;
  margin-bottom: 5%;
  /* border: 1px solid black; */
  /* padding: 50px; */
  padding-left: 100px;
  padding-right: 100px;


}

.emp{
  border-left: 2px solid #07393C;
  height: 200px;width: 100px;
  margin-left: 100px;
}

.blue .status h1,p{
  margin-top: 10px;
  font-family: "DM Sans", sans-serif;
}

.status button{
  padding: 10px;
  margin-top: 20px;
  background-color: #C0D05C;
  border: none;
  transition: all 0.5s ease-in-out;
  font-family: "DM Sans", sans-serif;
}

.status button:hover{
  cursor: pointer;
  background-color: #07393C;
  color: #E0CDA9;
}


/* Numbers Count */
.numbers{
  margin: 5.6%;
}

.count{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.count .item1{
    height: auto;
    margin-bottom: 30px;
    border-left: 1px solid #07393C;
    flex-basis: 33%;
    text-align: start;
    padding-left: 20px;
}

.count .item1 h1{
  color: #872667;
}

.item h3{
  color: #07393C;
  
}

.purple{
  padding-left: 5.6%;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #87265D;
  color: #FFFFFF;
  font-family: "DM Sans", sans-serif;
  font-size: large;
}

.purple button, .newshead button{
  color: #07393C;
  background-color: #C0D05C;
  border: none;
  padding: 20px;
  transition: all 0.5s ease-in-out;
}

.purple button:hover{
  cursor: pointer;
  background-color: #EBF5F2;
}



/* Nes section */

.news{
  margin: 5.6%;
  margin-top: 10%;
}

.newshead{
  display: flex;
  justify-content: space-between;
}



.newshead button:hover{
  cursor: pointer;
  background-color: #EBF5F2;
} 


.newsarticles{
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  margin-top: 5%;
  /* border-top: 2px solid #07393C; */
}

.newsarticle1{
  /* width: 100px; */
  flex-basis: 50%;
  /* border: 1px solid red; */
  margin-left: 30px;
  border-top: 2px solid #07393C;
  padding-top: 5%;


}

.newsarticle1 h1, h4, p{
  margin-top: 20px;
}


/* Footer css */

footer{
  width: 100%;
  height: 75vh;
  /* border: 1px solid red; */
  background-color: #07393C;
  font-family: "DM Sans", sans-serif;
}

.footer-top{
  margin: 5.6%;
  padding-top: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  /* border: 1px solid red; */
}

.footer-top ul li, .quik ul li a{
  color: white;
  text-decoration: none;
  list-style-type: none;
}

.trade{
  color: white;
  margin-left: 10%;
  text-align: center;
}

.quik h2, .contact h1, .newsletter h1{
  margin-bottom: 10px;
}


